@import "utilities.css";

:root {
    --primary : #61e697;
    --pure : #ffffff;
    --dark : #232326;
}

html {
    scroll-behavior: smooth;
}


html,body {
    overflow-x: hidden;
}

body {font-family: 'Poppins', sans-serif;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {    
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease ;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 10rem;
}


.hero {
    padding-bottom: 5rem;
}

.hero .left img {
    width: 400px;
    border-radius: 500px;
}

.hero .right {
    color: var(--pure);
    margin-right: -5rem;
}

.hero .right h6 {
    font-size: 1.6rem;
}

.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero a .right h1 samp {
    color: var(--primary);
}

.about {
    padding: 3rem 0;
}

.about .social a img {
    height: 30px;
    margin: 1rem;
    margin-right: 10px;
}

.about .left {
    height: 500px;
    border-radius: 1000px;
}

.about .right h1 {
    font-size: 50px;
}

.about .right h1 span {
color: var(--primary);
}

.about .right h3 {
    font-size: 20px;
    line-height: 3;
}

.about .right p {
    font-size: 20px;
}

.skills {
    background: var(--dark);
    clip-path: polygon(74% 7%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0 70%, 0 35%, 0 0);
}

.skills .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills .section-heading {
    color: var(--pure);
    font-size: 3rem;
    text-align: center;
}

.skills .section-heading span {
    color: var(--primary);
}

.section-heading + p {
    color: var(--pure);
    text-align: center;
    margin-bottom: 6rem;
}

.skills .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}

.skills .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    transition: all .3s ease;
}

.skills .card-wrapper .card h2 {
    margin-bottom: 1rem;
}


.card-wrapper img {
    height: 100px;
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.skills .card-wrapper .card:hover {
    background: var(--primary);
}

.slider .slide img {
    width: 500px;
    height: 280px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.projects .container {
    margin-bottom: 100px;
}

.projects h1 {
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
}

.slider .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects .slider-dot .dots {
    list-style-type: none;
    display: flex !important;
    justify-content: center;
}

.projects .slider-dot button {
    font-size: 0;
    width: 8px;
    height: 5px;
    margin: 5px;
    border: none;
    outline: none;
    background: #898989;
    border-radius: 50px;
    cursor: pointer;
}

.projects .dots li.slick-active button {
    background: var(--primary);
    width: 16px;
}

.contact {
    background: var(--dark);
}

.contact .container {
    padding-bottom: 100px;
}

.contact .card-wrappers {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact .card-wrappers .card img {
    height: 100px;
    margin-bottom: 1rem;
}

.contact .section-headingd {
    color: var(--pure);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact .section-headingd span {
    color: var(--primary);
}

.section-headingd {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem;
}

.contact .card-wrappers .card {
    text-align: center;
    color: var(--pure);
}

.contact .input-wrap input {
    margin-top: -4rem;
}

.contact .input-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

.contact .input-wrap-2 {
    display: flex;
    flex-direction: column;
}

.contact input {
    padding: 1rem;
    margin: 1rem;
}

.contact .input-wrap-2 input {
    margin-bottom: 1rem;
}
 
.contact .input-wrap-2 textarea {
    padding: 1rem;
    margin-bottom: 2rem;
    margin: 1rem;
}

.contact .btn-wrap {
    text-align: center;

}

footer {
    background: var(--dark);
    text-align: center;
}

footer img {
    margin-top: 9rem;
    margin-bottom: 1rem;
}

footer .footer-text {
    color: var(--pure);
    padding-bottom: 2rem;
}

header a {
    text-decoration: none;
    color: var(--primary);
}

.site-main-wrapper {
    position: relative;
}

.site-main-wrapper .hamberger {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 11;
    display: none;
}

.site-main-wrapper .hamberger button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.site-main-wrapper .hamberger button img {
    width: 30px;

}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--pure);
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.open {
    transform: translateX(0);
}

.times {
    position: fixed;
    top: 30px;
    right: 100px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.times img {
    width: 1.5rem;
}

.mobile-nav ul {
    list-style-type: none;
}

.mobile-nav ul li a {
    color: var(--dark);
    text-decoration: none;
    font-size: 2rem;
}

.mobile-nav ul li {
    margin-bottom: 2rem;
}


@media (max-width: 1024px) {
    header #main-nav {
        display: none;
    }
    .site-main-wrapper .hamberger{
        display: block;
    }

    .hero .right h6 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .hero .left img {
        width: 260px;
    }

    .hero .right h1 {
        font-size: 3rem;
    }

    .hero {
        padding-top: 10rem;
        padding-left: 5rem;
    }

    .about .left img {
        height: 400px;
        padding-right: 2rem;
    }

    .skills .card-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    
}


@media (max-width:576px) {
    .hero {
        flex-direction: column;
    }
    
    .site-main-wrapper .hamberger{
        display: block;
    }

    .hero .right h6 {
        font-size: 1.4;
        margin-bottom: 2rem;
        color: var(--primary);
    }

    .hero .left {
        margin-top: -5rem;
        padding-right: 7rem;
    }

    .hero .right {
        padding-top: 2rem;
        text-align: center;
        padding-right: 13rem;
    }

  

    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 95%, 0 100%);

    }

    .container {
        flex-direction: column;
        padding-left: 4rem;
    }

    .about .right {
        text-align: center;
        padding-right: 4rem;
    }

    .about .right .social {
        justify-content: center;
        padding-right: 1rem;
    }

    .skills {
        clip-path: polygon(70% 2%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0 70%, 0 35%, 0 0);
    }

    .skills .card-wrapper {
        grid-template-columns: repeat(1,1fr);
        padding-right: 3rem;
    }

    .section-heading  {
       margin-right: 2rem;
    }

    .section-heading + p {
        padding-right: 3rem;
    }

    .slider .slide img {
        height: 200px;
        width: 300px;
        
    }

    .projects h1 {
        padding-right: 2rem;
    }

    .projects .container {
        padding-right: 2rem;
    }

    .contact .input-wrap {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .contact .input-wrap input {
        margin-top: 1rem;
    }

    .times {
        right: 30px;
    }
}